@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


/* Solution */

ul{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 16px;
  gap: 20px;
}
a{
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 220px;
}

.buttons{
  margin-top: 12px;
}

.buttons > button{
  padding: 8px;
}

.footer{
  background-color: #eeeeee;
  margin-top: 5px;
}